@font-face {
    font-family: 'pixelated';
    src: url('/font/oswald.regular.ttf');
}

body {
    /*Colors*/
    --backgorund: #11111b;
    --on-background: #cdd6f4;

    /* font  */
    font-family: monospace;
    /* background color */
    background-color: var(--backgorund);
    color: var(--on-background);
}

@keyframes fancy_download_colors {
    0% { background-color: red; }
    33% { background-color: blue; }
    67% { background-color: green; }
    100% { background-color: rgb(142, 141, 141); }
}

.category_badge {
    background-color: #a6e3a1;
    aspect-ratio: 1;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    text-align: center;
}
.extra-badge {
    background-color: #fab387;
    animation: burn 1.5s linear infinite alternate;
}
@keyframes burn {
    from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
    45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
    70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
    to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }
}

.rank-crown {
    max-height: 1.5em;
    margin: -0.75rem -0.25rem;
    margin-right: inherit;
    filter: drop-shadow(0px 0px 1px #222);
    -webkit-filter: drop-shadow(0px 0px 1px #222);
}

.animated-rainbow {
    color: #F00;
    font-family: Arial Black, Gadget, sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FF0000;
    -webkit-animation: animatedBackground_c 2s infinite alternate;
}

@keyframes animatedBackground_c {
    0% { -webkit-text-stroke-color: #ff8b00  }
    10% { -webkit-text-stroke-color: #e8ff00  }
    20% { -webkit-text-stroke-color: #5dff00  }
    30% { -webkit-text-stroke-color: #00ff2e  }
    40% { -webkit-text-stroke-color: #00ffb9  }
    50% { -webkit-text-stroke-color: #00b9ff  }
    60% { -webkit-text-stroke-color: #002eff  }
    70% { -webkit-text-stroke-color: #5d00ff  }
    80% { -webkit-text-stroke-color: #e800ff  }
    90% { -webkit-text-stroke-color: #ff008b  }
    100% { -webkit-text-stroke-color: #ff0000 }
}

/* admin */

/* Leaderboard */
.leaderboard-username {
    text-decoration: none;
    color: inherit;
}

/* Challenges */
.grid-item {
    height: 100px;
    width: 270px;
    margin: 20px;
}

.chall-preview {
    background: linear-gradient(45deg, #181825 90%, #bac2de 120%);
    border-radius: 5px;
    border: solid;
    border-color: #181825;
    border-width: 3px;
    border-image-slice: 1;
    transition: border-color 0.3s ease-in-out;
    box-shadow: 0 0 5px 1px #bac2de;
}
.chall-preview:hover {
    border-color: #b4befe;
}
.chall-title {
    font-family: 'ProggyTinyTT', sans-serif;
    font-size: 2em;
}
.chall-footer{
    display: flex;
    justify-content: space-between;
}
.chall-points{
    font-family: 'ProggyTinyTT', sans-serif;
    font-size: 1.5em;
    position: absolute;
    bottom: 0;
    right: 15px;
}
.chall-difficulty {
    font-family: 'ProggyTinyTT', sans-serif;
    font-size: 1.5em;
}
.chall-Medium {
    box-shadow: 0 0 5px 1px #fab387;
    background: linear-gradient(45deg, #181825 90%, #fab387 120%);
}
.chall-Medium:hover {
    border-color: #fab387;
}
.chall-Hard {
    box-shadow: 0 0 5px 1px #d20f39;
    background: linear-gradient(45deg, #181825 90%, #d20f39 120%);
}
.chall-Hard:hover {
    border-color: #d20f39;
}
@keyframes flash {
    0% { background: linear-gradient(45deg,#4c4f69 5%, #181825 10%); }
    5%  { background: linear-gradient(45deg,#4c4f69 10%, #181825 15%); }
    10%  { background: linear-gradient(45deg,#181825 0%, #4c4f69 10%, #181825 15%); }
    15%  { background: linear-gradient(45deg,#181825 5%, #4c4f69 15%, #181825 20%); }
    20% { background: linear-gradient(45deg,#181825 10%, #4c4f69 20%, #181825 25%); }
    25% { background: linear-gradient(45deg,#181825 15%, #4c4f69 25%, #181825 30%); }
    30% { background: linear-gradient(45deg,#181825 20%, #4c4f69 30%, #181825 35%); }
    35% { background: linear-gradient(45deg,#181825 25%, #4c4f69 35%, #181825 40%); }
    40% { background: linear-gradient(45deg,#181825 30%, #4c4f69 40%, #181825 45%); }
    45% { background: linear-gradient(45deg,#181825 35%, #4c4f69 45%, #181825 50%); }
    50% { background: linear-gradient(45deg,#181825 40%, #4c4f69 50%, #181825 55%); }
    55% { background: linear-gradient(45deg,#181825 45%, #4c4f69 55%, #181825 60%); }
    60% { background: linear-gradient(45deg,#181825 50%, #4c4f69 60%, #181825 65%); }
    65% { background: linear-gradient(45deg,#181825 55%, #4c4f69 65%, #181825 70%); }
    70% { background: linear-gradient(45deg,#181825 60%, #4c4f69 70%, #181825 75%); }
    75% { background: linear-gradient(45deg,#181825 65%, #4c4f69 75%, #181825 80%); }
    80% { background: linear-gradient(45deg,#181825 70%, #4c4f69 80%, #181825 85%); }
    85% { background: linear-gradient(45deg,#181825 80%, #4c4f69 85%, #181825 90%); }
    90% { background: linear-gradient(45deg,#181825 85%, #4c4f69 90%, #181825 95%); }
    95% { background: linear-gradient(45deg,#181825 90%, #4c4f69 95%, #181825 100%); }
    100% { background: linear-gradient(45deg,#181825 100%, #4c4f69 100%); }

}
.chall-extra {
    animation: linear flash 1.5s infinite;
    animation-delay: 2s;
}
.chall-solved{
    box-shadow: 0 0 5px 1px #a6e3a1;
    background: linear-gradient(45deg, #40a02b 90%, #00ffb9 120%);
    border-color: #40a02b;
}
.chall-hidden{
    box-shadow: 0 0 5px 1px #adadad;
    background: linear-gradient(45deg, #494949 90%, #b3b3b3 120%);
    border-color: #b3b3b3;
}
.chall-solved:hover {
    border-color: #00ffb9;
}

/* Chall cards*/
.chall-toggle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181825; 
    border-radius:10px; 
    color: var(--on-background); 
    box-shadow: 0px 0px 10px #bac2de;
    z-index: 1041;
    animation: slideDown 0.2s ease-out forwards;
}
@keyframes slideDown {
    0% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
.chall-toggle-medium{
    box-shadow: 0px 0px 10px #fab387;
}
.chall-toggle-hard{
    box-shadow: 0px 0px 10px #f38ba8;
}
.chall-toggle-solved{
    box-shadow: 0px 0px 10px #a6e3a1;
    background: #40a02b; 
}
.chall-toggle-wrong{
    position: relative;
    animation: flashRed 0.5s ease-in-out 1;
}
@keyframes flashRed {
    0% { background-color: #181825; }
    10% { background-color: #d20f39; box-shadow: 0 0 10px #d20f39;}
    100% { background-color: #181825; }
}

.chall-flag {
    border-radius: 10px;
}
.chall-submit {
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0; 
    background-color: #bac2de;
    color: #181825; 
}
.chall-submit:hover {
    background-color: #bac2de;
    color: #191926;
}
.chall-dial-name{
    font-family: 'ProggyTinyTT', sans-serif;
    font-size: 2.5em;
}
.chall-dial-points{
    font-size: 1.5em;
}
.chall-dial-attatchment{
    color: #eff1f5;
    text-decoration: none;
}
.chall-dial-netcat{
    font-size: 1em;
    font-weight: bold;
}
.chall-description{
    background: #343a40;
    border-radius: 3px;
    border: 1px solid #4c4f69;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    display: none;
}
.overlay.show {
    display: block;
    opacity: 1;
}


/* Navbar */
.navbar {
    background-color: #181825;
    color: #eff1f5;
}
.platform-title{
    font-family: 'ProggyTinyTT', sans-serif, monospace;
    font-size: 2em;
    text-decoration: none;
    color: inherit;
}
.login-form {
    background-color: #181825 !important;
    color: var(--on-background) !important;
    padding: 20px;
    border-radius: 5px;
    border-color: #7c7f93;
}
.login-form .incorrect {
    border-color: #e64553;
}
.login-form-field {
    background-color: var(--background) !important;
    color: var(--on-background) !important;
}
.login-form-field::placeholder {
    color: #7c7f93 !important;
}


/* page */
.main-content {
    color: var(--on-background);
}
.pixelated-title {
    font-family: 'ProggyTinyTT', sans-serif, monospace;
    font-size: 3em;
}
.pixelated-subtitle {
    font-family: 'ProggyTinyTT', sans-serif, monospace;
    font-size: 2.5em;
}

/* Scoreboard */
.scoreboard-username {
    text-decoration: none;
    color: inherit;
    font-family: 'ProggyTinyTT', sans-serif, monospace;
    font-size: 1.5em;
}
.table {
    --bs-table-bg: inherit !important;
    color: var(--on-background);
}
.scoreboard-chart {
    color: var(--on-background);
}


/* footer */
.footer {
    background-color: var(--background);
    color: #4c4f69;
    padding: 20px;
}

/* Admin panels challenges */
.card-header{
    cursor: pointer;
}
